<!doctype html>
<html lang=en ng-app="DemoApp">

<head>

	<meta charset=utf-8>
	<title>model-validator demo</title>
	<link rel="stylesheet" href="bootstrap.css">

	<style>
		.error {
			color: red;
		}
	</style>

	<script src="angular.js"></script>
	<script src="model-validator.js"></script>
	<script>
		var app = angular.module("DemoApp", []);
		app.controller('DemoCtrl', function ($scope) {

			var firstNameValidation = {
				name: "firstName",
				displayName: "first name",
				rules: [
					{
						name: "required"
					}
				]
			};

			var lastNameValidation = {
				name: "lastName",
				displayName: "last name",
				rules: [
					{
						name: "required"
					},
					{
						name: "min_length",
						param: 4
					},
					{
						name: "max_length",
						param: 10
					}
				]
			};

			var passwordValidation = {
				name: "password",
				rules: [
					{
						name: "required"
					},
					{
						name: "min_length",
						param: 8
					}
				]
			};

			var passwordRepeatValidation = {
				name: "password_repeat",
				displayName: "password repeat",
				rules: [
					{
						name: "required"
					},
					{
						name: "matches",
						param: "password"
					}
				]
			};

			var validator = new ModelValidator([
					firstNameValidation,
					lastNameValidation,
					passwordValidation,
					passwordRepeatValidation
				]);

			$scope.errors = {};

			$scope.person = {
				firstName: "Peter",
				lastName: "Parker"
			}

			$scope.validate = function () {
				$scope.errors = validator.validate($scope.person);
			}

		});
	</script>

</head>

<body ng-controller="DemoCtrl">

	<div class="container-fluid">

		<div class="row">

			<div class="col-md-2 col-lg-3"></div>
			<div class="col-md-8 col-lg-6">

				<h3>model-validator</h3>

				<p>This is a quick demo of the model-validator JavaScript library. This library provides validation functionality for a JavaScript object rather than a HTML form. Check out the <a href="https://github.com/abedurftig/model-validator" target="_blank">GitHub</a> repository!</p>

				<hr>

				<h4>Person Form</h4>

				<p ng-show="errors.messages.length > 0">This form has {{errors.messages.length}} validation issues. Please review your inputs.</p>

				<form>

					<div class="form-group">
						<input type="text" class="form-control" placeholder="First Name" ng-model="person.firstName">
						<p class="error" ng-show="errors.firstName">{{errors.firstName}}</p>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" placeholder="Last Name" ng-model="person.lastName">
						<p class="error" ng-show="errors.lastName">{{errors.lastName}}</p>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" placeholder="Password" ng-model="person.password">
						<p class="error" ng-show="errors.password">{{errors.password}}</p>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" placeholder="Password Repeat" ng-model="person.password_repeat">
						<p class="error" ng-show="errors.password_repeat">{{errors.password_repeat}}</p>
					</div>

					<button class="btn btn-primary btn-sm" ng-click="validate()">Validate</button>

				</form>

				<hr/>
				<p>The <em><b>ModelValidator.validate(model)</b></em> function returns an <em>errors</em> object:</p>
				<pre>{{ errors | json }}</pre>

				<p>This quick demo was build with <a href="https://angularjs.org">angularjs</a>.</p>

			</div>
			<div class="col-md-2 col-lg-3"></div>

		</div>

	</div>

</body>

</html>